<a href="https://colab.research.google.com/github/ATUL12032407/ATULFSDSPRO1/blob/main/10th_December_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assignmet-1

1. Python Basic Variable

1(a) Code to swap two variables without using temporary variables

In [28]:
x=10
# assignment of a integer

In [17]:
y=6
# assignment of a integer

In [23]:
# swapping without temporary variable

x=x+y

In [24]:
# swapping of y
y=x-y

In [25]:
# swapping of x
x=x-y

In [29]:
x

10

In [30]:
y

6

1(b) Code  to calculate area of rectangle

In [57]:
 l=float(input("Enter the length of rectangle in mtr.:"))

Enter the length of rectangle in mtr.:10

In [50]:
 w=float(input("Enter the width of rectangle in mtr.:"))

Enter the width of rectangle in mtr.:10.2

In [51]:
# formula to calculate area of rectangle area=length*width

In [58]:
area = l*w

In [59]:
area

102.0

1(c) Code to convert temperature from Celcious to Farenheit

In [60]:
print("Area of the rectangle is =",area," mtr. suqare")

Area of the rectangle is = 102.0  mtr. suqare

In [62]:
# Input temprature in celsius

In [73]:
# Assignment in a variable
temp_C=float(input("Enter temprature in degree celsius:"))

Enter temprature in degree celsius:4

In [74]:
temp_C

4.0

In [78]:
# Formula to convert temperature from degree celsius to fahrenheit is degree F=(degree celsius)*9/5 +32
temp_F= (temp_C)*9/5 +32

In [79]:
temp_F

39.2

2. String based assignment questions

2(a) Calculate user input string length

In [197]:
print("Temperature in fahrenheit is=",temp_F,"degree Fahrenheit  ")

Temperature in fahrenheit is= 39.2 degree Fahrenheit

In [84]:

# input of string

In [96]:
 str=input("Enter the string:")

Enter the string:AA

In [97]:
len(str)

2

2(b) Program to create sentence from user and count vowels in the string

In [120]:
 Sentence=input("Enter the sentence:")
#  Input from the user as a string

Enter the sentence:hi

In [121]:
Sentence

'hi'

In [122]:
vowel=0
# intializing a temporary variable as 0 to count no of vowels

In [123]:
for i in Sentence :
   if(i=='A'or i=='a'or i=='E'or i=='e'or i=='I'or i=='i'or i=='O'or i=='o'or i=='U'or i=='u'):
    vowel+=1

In [126]:
print("Number of vowels are :=",vowel)

Number of vowels are := 1

2(c) Input a string from user and  reversal of string

In [132]:
Str=input("Enter a string:")
# Input of string

Enter a string:We will go shimla next year together

In [135]:
reverse_Str=Str[::-1]
# Reversal technique using slicing concept

In [136]:
print("Reverse string is:",reverse_Str)
# Printing of that string

Reverse string is: rehtegot raey txen almihs og lliw eW

2(d) Program to check whether a string is palindrome or not

In [179]:
Str1=input("Enter a string : ")

Enter a string : ATUL

In [180]:
Str1=''.join(Str1.lower().split())
#  Remove spaces and convert to lowercase

In [181]:
Str1

'atul'

In [182]:
if Str1==Str1[::-1]:
  print("The string is a palindrome.")
else:
  print("The string is not a palindrome.")
  # Check if the cleaned string is equal to its reverse

The string is not a palindrome.

2(e) Code to input string and remove spaces

In [193]:
string1=input("Enter a string:")

Enter a string:A T U L

In [194]:
String1=''.join(string1.split())
# To remove all spaces in string

In [196]:
print("Modified string:",String1)
# PRINTING OF MODIFIED STRING

Modified string: ATUL